@model lab3_miercuri.Models.BookType
@{
    ViewBag.Title = "Create a book type";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "BookType", method: FormMethod.Post))
{
    @Html.LabelFor(bt => bt.Name, "Name:")
    <br />
    @Html.TextBoxFor(bt => bt.Name, null, new { placeholder = "Type in the book type's name", @class = "form-control" })
    @Html.ValidationMessageFor(bt => bt.Name, "", new { @class = "text-danger" })
    <br /><br />

    <button class="btn btn-primary" type="submit">Create</button>
}