@model  lab3_miercuri.Models.Publisher

@using (Html.BeginForm(actionName: "New", controllerName: "Publisher", method: FormMethod.Post))
{
    @Html.TextBoxFor(p => p.Name, null, new { placeholder = "Name", @class = "form-control"})
    @Html.ValidationMessageFor(p => p.Name, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-primary" type="submit">Create</button>
}
